<template>
    <div class="panel-block">

    </div>
</template>

<script>
    export default {
    props:['chats'],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
